.span {
  color: var(--primary-color-blue);
}
.restocked6ProductsContainer {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.end,
.start {
  height: 0;
  width: 0;
  position: relative;
}
.minWidthChangeCellWidth {
  width: 0;
  height: 0;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.avatarPlaceholderChangeI {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0.4px;
  left: 0;
  border-radius: 704.32px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.aspectRatioKeeperAddition {
  width: 22.6px;
  height: 22.6px;
  object-fit: contain;
  z-index: 1;
}
.avatar,
.iconLeft {
  display: flex;
  flex-direction: column;
}
.avatar {
  width: 22.6px;
  height: 23px;
  border-radius: 704.32px;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
}
.iconLeft {
  background-color: var(--hitbox);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.text {
  position: relative;
  line-height: 150%;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 0;
  gap: var(--gap-7xs-6);
}
.componentstableCelltext,
.texttext {
  background-color: var(--hitbox);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.componentstableCelltext {
  padding: var(--padding-xs-3) 0 var(--padding-xs-9);
}
.div,
.mAgo {
  position: relative;
  line-height: 150%;
}
.componentstableCelltextParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-3xs);
  color: var(--text-color-1);
  font-family: var(--font-poppins);
}
.restocked6ProductsParent {
  width: 198.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--dark);
  font-family: var(--font-montserrat);
}
