.ard {
  color: var(--primary-color-blue);
}
.wareview {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  font-family: inherit;
}
.wareviewContainer,
.wareviewContainerWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.wareviewContainer {
  flex: 1;
}
.wareviewContainerWrapper {
  width: 215px;
  padding: 0 var(--padding-base) 0 0;
  box-sizing: border-box;
}
.dashboard {
  height: 24px;
  position: relative;
  display: inline-block;
}
.footerLinks {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.sales {
  height: 24px;
  position: relative;
  display: inline-block;
}
.footerLinks1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.banking {
  position: relative;
}
.footerLinks2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.records {
  height: 24px;
  position: relative;
  display: inline-block;
}
.footerLinks3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
}
.contactUs {
  text-decoration: none;
  height: 24px;
  position: relative;
  color: inherit;
  display: inline-block;
}
.footerLinks4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerLinksParent,
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-7xs) 0 var(--padding-7xs) var(--padding-538xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  max-width: 100%;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.frameParent {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-3xs);
  font-size: var(--font-size-5xl);
  font-family: var(--font-nico-moji);
}
.cultivatingEfficiencyTracki,
.yourTrustedInventory {
  display: block;
}
.empowerYourFinancialContainer {
  margin: 0;
  position: relative;
}
.empowerYourFinancialInsightWrapper {
  width: 697px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.facebookIcon,
.instagramIcon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.facebookIcon {
  height: 29px;
  width: 29px;
  min-height: 29px;
}
.instagramIcon {
  height: 17px;
  width: 17px;
}
.socialIcons {
  height: 29px;
  width: 29px;
  border-radius: var(--br-11xl);
  background-color: var(--primary-color-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs);
  box-sizing: border-box;
}
.twitterIcon {
  height: 19px;
  width: 19px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.facebookParent,
.socialIcons1 {
  display: flex;
  flex-direction: row;
}
.socialIcons1 {
  height: 29px;
  width: 29px;
  border-radius: var(--br-9xl);
  background-color: var(--primary-color-blue);
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
  box-sizing: border-box;
}
.facebookParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frameGroup,
.lineIcon {
  align-self: stretch;
  max-width: 100%;
}
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lineIcon {
  position: relative;
  overflow: clip;
  max-height: unset;
}
.divider,
.dividerWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.divider {
  height: 0;
  background-color: var(--hitbox);
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
}
.dividerWrapper {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.privacyPolicy {
  text-decoration: none;
  height: 30px;
  flex: 1;
  position: relative;
  color: inherit;
  display: inline-block;
}
.legalLinks {
  width: 233.3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) 0 0;
  box-sizing: border-box;
}
.mugnaTechnologiesInc {
  width: 264px;
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.legalLinks1 {
  width: 233.3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: var(--color-dimgray);
}
.termsConditions {
  text-decoration: none;
  height: 24px;
  position: relative;
  color: inherit;
  display: inline-block;
}
.legalLinks2,
.legalLinksParent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.legalLinks2 {
  width: 233.3px;
  justify-content: flex-end;
  text-align: right;
}
.legalLinksParent {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--gray-white);
  border-top: 1px solid var(--gray-400);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-54xl) var(--padding-mid);
  gap: var(--gap-sm);
  max-width: 100%;
  height: 100%;
}
.image2Icon {
  position: absolute;
  top: 17px;
  left: 69px;
  width: 103px;
  height: 49px;
  object-fit: cover;
  z-index: 1;
}
.pageFooter {
  width: 100%;
  height: 230px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1350px) {
  .footerLinksParent,
  .frameParent {
    flex-wrap: wrap;
  }
  .pageFooter {
    height: auto;
    min-height: 230;
  }
}
@media screen and (max-width: 1125px) {
  .footerLinksParent {
    padding-left: var(--padding-259xl);
    box-sizing: border-box;
  }
  .frameGroup {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .footer,
  .footerLinksParent {
    padding-left: var(--padding-120xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
  }
}
@media screen and (max-width: 450px) {
  .wareview {
    font-size: var(--font-size-lgi);
    line-height: 29px;
  }
  .footerLinksParent {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
